.archive {
	max-width: 16vw;
	display: flexbox;
  h2 {
    text-align: center;
  }
  hr {
		max-width: 16vw;
    margin: 0.5vh;
    height: 1px;
    background-color: gainsboro;
    border: none;
  }
	.thumbnail {
		position: relative;
		width: 16vw;
		height: 26vw;
	}
}
