.article {

  h1 {
    text-align: center;
  }

  .authors {
    margin-left: 35vw;

    a {
      text-align: center;
      margin-left: 1vh;
    }
  }

  .article-content {
    width: 50vw;
    margin-left: 18vw;
  }

  p {
    margin-top: 3vh;
  }
}
