@use "globals.scss";

.article {
	display: flex;
	flex-direction: column;
	align-items: center;

	.authors {
		a {
			font-size: large;
			margin-right: 8px;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.content {
		max-width: 50vw;
		p {
			font-family: globals.$font-text, globals.$font-stack;
		}
	}

  p {
    margin-top: 3vh;
  }
}
