.article {
	display: flex;
	flex-direction: column;
	align-items: center;

	.authors {
		a {
			margin-right: 8px;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.article-content {
		max-width: 50vw;
	}

  p {
    margin-top: 3vh;
  }
}
