@use "globals.scss";

.dropdown {
  position: relative;
  display: inline-block;
  text-decoration: none;

  .btn {
    color: globals.$bg-color;
    background-color: globals.$primary-color;
    display: inline-block;
    padding: 15px;
    font-size: x-large;

    transition: .3s ease-in;

    &:hover {
      color: globals.$primary-color;
      background-color: globals.$bg-color;
      display: block;
    }
  }

  .content {
    display: none;
    position: absolute;
    font-size: large;
    padding: 12px;

    min-width: 14vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

		a {
			&:hover{
				cursor: pointer;
				color: #474747;
			}
		}

  }

  &:hover .content {
    display: block;
  }
}
