.category {
  max-width: 85vw;
	min-height: 100vh;
  h1 {
    text-align: center;
		border: none;
		border-bottom: 1px solid gainsboro;
  }
	.grid {
		display: grid;
		grid-template-columns: 5fr 2fr;
		grid-column-gap: 2vw;
		.sidebar {
			margin-top: 2vh;
			padding-left: 1vw;
			padding-right: 1vw;
			border: none;
			border-left: 1px solid gainsboro;
			border-right: 1px solid gainsboro;
		}
	}
}
