/** @format */

$font-stack: system-ui, DIN2014-Demi;
// $font-header: sans-serif;
$font-header: "Open Sans Condensed";
$font-text: "Times New Roman";
$primary-color: black;
$bg-color: white;
$line-height: 1.4;
