@use "globals.scss";

#content {
  display: block;
  margin-left: 6vw;
  margin-right: 6vw;
}

#footer {
  margin-left: 7vw;
  margin-right: 7vw;
  padding-top: 2vh;
  hr {
    background-color: #ccc;
    height: 3px;
    border: none;
    margin-top: 3vh;
    margin-bottom: 1vh;
  }
  h1 {
    font-family: Canterbury;
    font-size: xxx-large;
  }
}

#navigation-bar {
  display: block;
  background-color: globals.$primary-color;
  margin-bottom: 2vh;
  margin-left: 7vw;
  margin-right: 7vw;
  padding-left: 4vw;
  padding-right: 4vw;

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
