@use "globals.scss";

#content {
  display: block;
  margin-left: 6vw;
  margin-right: 6vw;
}

#navigation-bar {
  display: block;
  background-color: globals.$primary-color;
  margin-left: 6vw;
  margin-right: 6vw;
  padding-left: 5vw;
  padding-right: 5vw;
}
