@use "globals.scss";
@use "root.scss";
@use "home.component.scss";
@use "button.component.scss";
@use "articlepreview.component.scss";
@use "article.component.scss";
@use "category.component.scss";
@use "credit.component.scss";
@use "archive.component.scss";
@use "about.component.scss";
@use "subscribe.component.scss";
@use "frontpage.component.scss";
@use "archives.component.scss";

@font-face {font-family: "Canterbury"; src: url("//db.onlinewebfonts.com/t/45f5fadb3dbf0140e10b498c7cb030a6.eot"); src: url("//db.onlinewebfonts.com/t/45f5fadb3dbf0140e10b498c7cb030a6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/45f5fadb3dbf0140e10b498c7cb030a6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/45f5fadb3dbf0140e10b498c7cb030a6.woff") format("woff"), url("//db.onlinewebfonts.com/t/45f5fadb3dbf0140e10b498c7cb030a6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/45f5fadb3dbf0140e10b498c7cb030a6.svg#Canterbury") format("svg"); }
@font-face {font-family: "DIN2014-Demi"; src: url("//db.onlinewebfonts.com/t/1dd1c7d8df011c2266f33ebd5927c0ab.eot"); src: url("//db.onlinewebfonts.com/t/1dd1c7d8df011c2266f33ebd5927c0ab.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1dd1c7d8df011c2266f33ebd5927c0ab.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1dd1c7d8df011c2266f33ebd5927c0ab.woff") format("woff"), url("//db.onlinewebfonts.com/t/1dd1c7d8df011c2266f33ebd5927c0ab.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1dd1c7d8df011c2266f33ebd5927c0ab.svg#DIN2014-Demi") format("svg"); }
