/** @format */

@use "globals.scss";

* {
	font-family: globals.$font-text, globals.$font-stack;
	color: globals.$primary-color;
	background-color: transparent;
	line-height: globals.$line-height;
	text-decoration: none;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: globals.$font-header, globals.$font-stack;
	font-weight: normal;
}
span {
	color: #8b8b8b;
	font-family: globals.$font-text, globals.$font-stack;
	text-transform: uppercase;
}

@import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");

@font-face {
	font-family: "Canterbury";
	src: url("//db.onlinewebfonts.com/t/45f5fadb3dbf0140e10b498c7cb030a6.eot");
	src: url("//db.onlinewebfonts.com/t/45f5fadb3dbf0140e10b498c7cb030a6.eot?#iefix") format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/45f5fadb3dbf0140e10b498c7cb030a6.woff2") format("woff2"),
		url("//db.onlinewebfonts.com/t/45f5fadb3dbf0140e10b498c7cb030a6.woff") format("woff"),
		url("//db.onlinewebfonts.com/t/45f5fadb3dbf0140e10b498c7cb030a6.ttf") format("truetype"),
		url("//db.onlinewebfonts.com/t/45f5fadb3dbf0140e10b498c7cb030a6.svg#Canterbury") format("svg");
}
@font-face {
	font-family: "DIN2014-Demi";
	src: url("//db.onlinewebfonts.com/t/1dd1c7d8df011c2266f33ebd5927c0ab.eot");
	src: url("//db.onlinewebfonts.com/t/1dd1c7d8df011c2266f33ebd5927c0ab.eot?#iefix") format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/1dd1c7d8df011c2266f33ebd5927c0ab.woff2") format("woff2"),
		url("//db.onlinewebfonts.com/t/1dd1c7d8df011c2266f33ebd5927c0ab.woff") format("woff"),
		url("//db.onlinewebfonts.com/t/1dd1c7d8df011c2266f33ebd5927c0ab.ttf") format("truetype"),
		url("//db.onlinewebfonts.com/t/1dd1c7d8df011c2266f33ebd5927c0ab.svg#DIN2014-Demi") format("svg");
}
@font-face {
	font-family: "EgyptianText";
	src: url("/assets/fonts/EgyptianText.woff2") format("woff2");
}
@font-face {
	font-family: "EgyptianHeader";
	src: url("/assets/fonts/EgyptianHeader.woff2") format("woff2");
}
