/** @format */

@use "globals.scss";

* {
	font-family: globals.$font-header, globals.$font-stack;
	color: globals.$primary-color;
	background-color: globals.$bg-color;
	line-height: globals.$line-height;
	text-decoration: none;
	margin: 0;
}
span {
	color: #8b8b8b;
	font-family: globals.$font-header, globals.$font-stack;
	text-transform: uppercase;
}

@import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");
